/*
/*/

!README.md

!.gitignore

!/BuyerBackend/
!/BuyerFrontend/
!/RestaurantBackend/
!/RestaurantFrontend/
!/DeliveryAgentBackend/
!/DeliveryAgentFrontend/
!/EurekaServer/
!/ZuulGateway/

!MySqlDatabase

!docker-compose.yml
!kill-all-docker-containers.bat
!repackage-modules.bat

!Cloud_High_Level_Architecture.jpg